datasets/grant-funding/processed/*.csv.gz filter=lfs diff=lfs merge=lfs -text
datasets/grant-funding/processed/*.jsonl.gz filter=lfs diff=lfs merge=lfs -text
datasets/humor/*.csv.gz filter=lfs diff=lfs merge=lfs -text
datasets/peer-review/PeerRead/data/** filter=lfs diff=lfs merge=lfs -text
datasets/creative-writing/LitBench-Train.csv.gz filter=lfs diff=lfs merge=lfs -text
datasets/creative-writing/LitBench-Test.csv.gz filter=lfs diff=lfs merge=lfs -text
